USE [master]
GO
/****** Object:  Database [takipVT]    Script Date: 27.05.2025 18:49:45 ******/
CREATE DATABASE [takipVT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'takipVT', FILENAME = N'C:\Users\VICTUS\takipVT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'takipVT_log', FILENAME = N'C:\Users\VICTUS\takipVT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [takipVT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [takipVT]
GO
/****** Object:  Table [dbo].[Ilac]    Script Date: 27.05.2025 18:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[Adi] [nvarchar](100) NULL,
	[Doz] [int] NULL,
	[AlmaSaati] [time](7) NULL,
	[BaslangicTarihi] [date] NOT NULL,
	[BitisTarihi] [date] NOT NULL,
	[IlaclarId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilaclar]    Script Date: 27.05.2025 18:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilaclar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](100) NULL,
	[Doz] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 27.05.2025 18:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RiskliIlacEtkilesimleri]    Script Date: 27.05.2025 18:49:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiskliIlacEtkilesimleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ilac1Id] [int] NOT NULL,
	[Ilac2Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ilac] ADD  DEFAULT (getdate()) FOR [BaslangicTarihi]
GO
ALTER TABLE [dbo].[Ilac] ADD  DEFAULT (getdate()) FOR [BitisTarihi]
GO
ALTER TABLE [dbo].[Ilac] ADD  DEFAULT ((0)) FOR [IlaclarId]
GO
ALTER TABLE [dbo].[Ilac]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Ilac]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[RiskliIlacEtkilesimleri]  WITH CHECK ADD FOREIGN KEY([Ilac1Id])
REFERENCES [dbo].[Ilaclar] ([ID])
GO
ALTER TABLE [dbo].[RiskliIlacEtkilesimleri]  WITH CHECK ADD FOREIGN KEY([Ilac2Id])
REFERENCES [dbo].[Ilaclar] ([ID])
GO
USE [master]
GO
